<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="driveEntities" connectionString="metadata=res://*/MsSqlAdo.ADO.DriveDatabase.csdl|res://*/MsSqlAdo.ADO.DriveDatabase.ssdl|res://*/MsSqlAdo.ADO.DriveDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BASHLYKEVICH7\MSSQLDEV;initial catalog=drive;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>